.example-card {
    max-width: 400px;
  }
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

.like_pin{
    column-width: 320px;
	column-gap: 15px;
    width: 90%;
	max-width: 1100px;
	margin: 50px auto;
    scroll-behavior: inherit;
}

mat-card{
    margin: 20px;
}

.h{
    position: relative;
}


.headerTab{
    //display: flex;
    //justify-content: space-between;
    position: relative;
    left: 80px;
}

